<div class="row">
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(likes_user_path(current_user)) %>"><%#=# link_to likes_user_path(@user) do %>お気に入り一覧<%# end %></li>
    </ul>
    <%= render 'microposts/microposts', microposts: @microposts %>
  </div>
</div>