<div class="row">
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(likes_user_path(current_user)) %>">Likeings</li>
    </ul>
    <%= render 'microposts/microposts', microposts: user.liked_microposts %>
  </div>
</div>